#parentInfoFields,
#success {
    display: none;
}

#rulesBox {
    height: 200px;
    width: 100%;
    overflow: auto;
    border: 1px solid #000;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}